.App-header {  
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todoInput {
  position: fixed;
  bottom: 0;
  background-color: rgb(159, 182, 202);
  border-radius: 5px;
  width: 100%;
  z-index: 1;
}

.generalAddButton {
  margin: 30px 0;
  background-color: #1761f6;
}

.todoInputCloseButton {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #1761f6;
}

.todoInputAddButton {
  background-color: #1761f6;
}

.generalColumn {
  display: flex;
  flex-direction: column-reverse;
}

.taskItem {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  color: rgb(191, 191, 220);
}

.taskItemLink{
  text-decoration: none;
  width: 100%;
  color: aliceblue;
}

.taskItemdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.taskItemCheck {
  margin:0 25px;
  cursor: pointer;
  transform: scale(2);
  width: 1.5em;
  height: 1em;
  background-color:aliceblue ;
  border-radius: 50%;
  /* vertical-align: middle; */
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.taskItemCheck:checked {
  background-color: #1761f6;
}

.taskItemButton {
  padding: 5px;
  margin: 0 10px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}

.addInput {
  margin: 75px 0 75px 25px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.todoWindow {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.todoWindowLink{
  text-decoration: none;
  color: azure;
  width: 100px;
  margin: 30px 0;
}

.todoWindowTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 30px 0;
}

.todoWindowGeneral{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.todoWindowDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todoWindowStatus {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.todoWindowDescription {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.description {
  text-align: left;
  margin: 30px 0;
  border-radius: 10px;
}

.descriptionInput {
  margin: 30px 0;
  border-radius: 10px;
  padding: 10px;
}

.addDescription {
  background-color: aqua;
  width: 100px;
}