body {
  /* position: relative; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  /* margin: 75px 0 75px 25px;
  padding: 10px;
  border-radius: 5px;
  border: 0; */
}

input:checked+.taskItemLink {
  text-decoration:line-through;
  background-color: rgba(152, 204, 206, 0.186);
  border-radius: 5px;
}

button {
  background-color: brown;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
}

ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

li{ 
  
}

p {
  margin: 0;
}

/* li div {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
} */

/* li span{ 
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(20, 88, 88);
  color: aliceblue;
} */

main{
  position:absolute;
  top: 0;
  left: 0;
  background-color: rgb(22, 103, 30);
  width: 100%;
  height: 100%;
}